@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins_Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins_Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url(../assets/fonts/Poppins_SemiBold.ttf);
    font-weight: 700;
}